ul li {
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: normal;
	color: #4a4a4a;
	list-style-type: none;
	padding: 5px 0 0 14px;
}

.tablepress-id-8 .column-1 {
	width: 30%;
}

.tablepress-id-4 .column-1 {
	width: 30%;
}

.tablepress {
	border-bottom: solid 2px;
	color: #f0f0f0;
}